{{#if shown}}
    <div class="modal-fog">
        <div class="modal-frame">

            <div class="modal-title">
                Create Tomorrow's Poll
                <div class="modal-close" {{action 'toggleModal'}}>
                  {{fa-icon "times" size=2}}
                </div>
            </div>
            <div class="modal-body">
                <form>
                  <label>
                    Title
                    {{input value=title}}
                  </label>
                  <label>
                    Option 1
                    {{input value=option1}}
                  </label>
                  <label>
                    Option 2
                    {{input value=option2}}
                  </label>
                  <label>
                    Option 3
                    {{input value=option3}}
                  </label>
                  <button {{action "save"}}>Save Poll</button>
                </form>
            </div>
        </div>
    </div>
{{/if}}