<div class="dashboard">
    <div class="nav">
        <nav>
            {{#link-to 'dashboard.kiosks'}}{{fa-icon "bolt" size=2 title="Flash Kiosks"}}{{/link-to}}
            {{!-- {{#link-to 'login'}}{{fa-icon "calendar" size=2 title="Calendar View"}}{{/link-to}}
            {{#link-to 'login'}}{{fa-icon "money" size=2 title="Sales View"}}{{/link-to}}
            {{#link-to 'login'}}{{fa-icon "area-chart" size=2 title="Cross Compare"}}{{/link-to}} --}}
            {{#link-to 'dashboard.performance'}}{{fa-icon "bar-chart" size=2 title="Performance"}}{{/link-to}}
            <a class="stats">
                {{time.niceTime}}
            </a>
            {{#link-to 'login' classNames="logout"}}{{fa-icon "sign-out" size=2 flip="horizontal"}}{{/link-to}}
        </nav>
    </div>
    <div class="content">
        {{liquid-outlet}}
    </div>
</div>

